<div class="super_container">

    <!-- Header -->
    @Html.Partial("_header")


    <!-- Hamburger -->

    @Html.Partial("_hamburger")

    <!-- Menu -->

    @Html.Partial("_menu")

    <!-- Home -->



    @Html.Partial("_home")
    <!-- Intro -->

    @Html.Partial("_intro")

    <!-- Video -->



    @Html.Partial("_video")
    <!-- Signature Dish -->

    @Html.Partial("_dish")

    <!-- The Menu -->


    @Html.Partial("_theMenu")
    <!-- Reservations -->

    @Html.Partial("_reservation")

    <!-- Footer -->

    @Html.Partial("_footer")
</div>